[submodule "TMessagesProj/src/main/java/com/radolyn/ayugram/proprietary"]
	path = TMessagesProj/src/main/java/com/radolyn/ayugram/proprietary
	url = https://github.com/TurkGram/TurkGram4A_proprietary.git
